
RSSRead.xcworkspace/contents.xcworkspacedata

RSSRead.xcworkspace/xcshareddata/RSSRead.xccheckout

RSSRead.xcworkspace/xcuserdata/hldm723.xcuserdatad/UserInterfaceState.xcuserstate

RSSRead.xcworkspace/xcuserdata/hldm723.xcuserdatad/WorkspaceSettings.xcsettings

RSSRead.xcworkspace/xcuserdata/hldm723.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
