<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>abouts</key>
		<array>
			<dict>
				<key>link</key>
				<string>https://github.com/ming1016/RSSRead</string>
				<key>icon</key>
				<string>github.png</string>
				<key>title</key>
				<string>已阅GitHub地址</string>
			</dict>
			<dict>
				<key>link</key>
				<string>http://weibo.com/allstarming/</string>
				<key>icon</key>
				<string>weibo.png</string>
				<key>title</key>
				<string>微博</string>
			</dict>
            <dict>
				<key>link</key>
				<string>https://twitter.com/ming1016</string>
				<key>icon</key>
				<string>twitter.png</string>
				<key>title</key>
				<string>Twitter</string>
			</dict>
		</array>
		<key>title</key>
		<string>关注动态</string>
	</dict>
	<dict>
		<key>abouts</key>
		<array>
			<dict>
				<key>link</key>
				<string>https://github.com/ming1016</string>
				<key>icon</key>
				<string>github.png</string>
				<key>title</key>
				<string>ming1016</string>
			</dict>
			<dict>
				<key>link</key>
				<string>https://github.com/zaczh</string>
				<key>icon</key>
				<string>github.png</string>
				<key>title</key>
				<string>zaczh</string>
			</dict>
            <dict>
				<key>link</key>
				<string>https://github.com/wuzhou</string>
				<key>icon</key>
				<string>github.png</string>
				<key>title</key>
				<string>wuzhou</string>
			</dict>
            <dict>
				<key>link</key>
				<string>https://github.com/ftxbird</string>
				<key>icon</key>
				<string>github.png</string>
				<key>title</key>
				<string>ftxbird</string>
			</dict>
            <dict>
				<key>link</key>
				<string>https://github.com/ben46</string>
				<key>icon</key>
				<string>github.png</string>
				<key>title</key>
				<string>ben46</string>
			</dict>
		</array>
		<key>title</key>
		<string>主要贡献者</string>
	</dict>
</array>
</plist>
