<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>cnBeta.COM业界资讯</string>
            <key>link</key>
            <string>http://www.cnbeta.com</string>
            <key>summary</key>
            <string>cnBeta.COM - 简明IT新闻,网友媒体与言论平台</string>
            <key>url</key>
            <string>http://cnbeta.feedsportal.com/c/34306/f/624776/index.rss</string>
        </dict>
        <dict>
            <key>title</key>
            <string>大洋24小时滚动新闻</string>
            <key>link</key>
            <string>http://www.dayoo.com/roll</string>
            <key>summary</key>
            <string>大洋网是立足广州、辐射华南的综合性区域门户网站，为用户提供新闻、生活、论坛、书城等20多个频道及广州日报集团旗下《广州日报》《信息时报》等20家报刊杂志电子版</string>
            <key>url</key>
            <string>http://rss.dayoo.com/feed/news/roll.xml</string>
        </dict>
        <dict>
            <key>title</key>
            <string>Engadget 中国版</string>
            <key>link</key>
            <string>http://cn.engadget.com</string>
            <key>summary</key>
            <string>Engadget 中国版</string>
            <key>url</key>
            <string>http://cn.engadget.com/rss.xml</string>
        </dict>
        <dict>
            <key>title</key>
            <string>36氪，专注互联网创业</string>
            <key>link</key>
            <string>http://www.36kr.com/</string>
            <key>summary</key>
            <string>36氪，专注互联网创业</string>
            <key>url</key>
            <string>http://www.36kr.com/feed</string>
        </dict>
        <dict>
            <key>title</key>
            <string>数字尾巴-分享美好数字生活</string>
            <key>link</key>
            <string>http://www.dgtle.com/</string>
            <key>summary</key>
            <string>数字尾巴-分享美好数字生活</string>
            <key>url</key>
            <string>http://www.dgtle.com/rss/dgtle.xml</string>
        </dict>
        <dict>
            <key>title</key>
            <string>爱范儿</string>
            <key>link</key>
            <string>http://www.ifanr.com/</string>
            <key>summary</key>
            <string>爱范儿</string>
            <key>url</key>
            <string>http://www.ifanr.com/feed</string>
        </dict>
        <dict>
            <key>title</key>
            <string>月光博客</string>
            <key>link</key>
            <string>http://www.williamlong.info/</string>
            <key>summary</key>
            <string>月光博客</string>
            <key>url</key>
            <string>http://feed.williamlong.info/</string>
        </dict>
        <dict>
            <key>title</key>
            <string>果壳网</string>
            <key>link</key>
            <string>http://guokr.com</string>
            <key>summary</key>
            <string>科技有意思</string>
            <key>url</key>
            <string>http://www.guokr.com/rss/</string>
        </dict>
        <dict>
            <key>title</key>
            <string>虎嗅网</string>
            <key>link</key>
            <string>http://www.huxiu.com</string>
            <key>summary</key>
            <string>虎嗅网</string>
            <key>url</key>
            <string>http://fulltextrssfeed.com/www.huxiu.com/rss/0.xml</string>
        </dict>
        <dict>
            <key>title</key>
            <string>新闻要闻-新浪新闻</string>
            <key>link</key>
            <string>http://roll.news.sina.com.cn/s/</string>
            <key>summary</key>
            <string>新闻中心-新闻要闻</string>
            <key>url</key>
            <string>http://rss.sina.com.cn/news/marquee/ddt.xml</string>
        </dict>
        <dict>
            <key>title</key>
            <string>Abduzeedo Design Inspiration</string>
            <key>link</key>
            <string>http://abduzeedo.com</string>
            <key>summary</key>
            <string>Design Inspiration &amp; Tutorials</string>
            <key>url</key>
            <string>http://abduzeedo.com/rss.xml</string>
        </dict>
    </array>
</plist>